<!DOCTYPE html>
<html>
<head>
  <title>Free Expressions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>

<body style='padding-top: 60px'>

<%= render 'layouts/navbar' %>
<%= yield %>

</body>
</html>
